//reset CSS

@import "nullstyle.scss";

//fonts import

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
//font-family: 'Oswald', sans-serif;

//variables
$oswald: 'Oswald', sans-serif;
$carrot: #E27D60;
$darkBlue: #05386b;
$purple: rgb(135, 9, 207);
$lightGrey: rgb(189, 184, 184);
$lightGreen: rgba(133, 220, 184, 0.9);

.header1 {
  background-color: $lightGreen;
}

.registration {
  height: 100vh;

  &__title {
    margin: 35px 0;
    text-align: center;
    color: $purple;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2.3em;
    letter-spacing: 0.1em;
    font-weight: 550;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px 25px;
    
    form {
      padding: 30px 30px 30px 280px;
      text-indent: 5px;
      flex: 0 0 50%;
      color: $purple;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 1.2em;

      input {
        margin: 10px 0;
        padding: 4px;
        box-shadow: 0 0 3px $carrot;
      }
    }
  }
  &__subtitle {
    text-align: center;
    color: $carrot;
    font-family: $oswald;
    font-size: 2em;
    flex: 0 0 100%;
    letter-spacing: 0.05em;
    margin: 0 0 30px;
  }

  &__image {
    flex: 0 0 50%;

    img {
      width: 80%;
      display: block;
      box-shadow: 0 0 8px $purple;
    }
  }
}

.register {
  display: block;
  margin: 0 auto 0 290px;
  background-color: $carrot;
  color: $darkBlue;
  padding: 7px;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $oswald;
  width: 200px;
  border-radius: 7px;
  transition: all 400ms ease 200ms;
}

.register:hover {
  box-shadow: 0 0 7px $purple;
  transition: all 400ms ease 200ms;
}

.register:active {
  background-color: $lightGrey;
}

//media max-width 1200px

@media (max-width:1200px) {
  
.registration {
  height: 100vh;

  &__title {
    margin: 15px 0;
    font-size: 1.5em;
    line-height: 1.2em;
  }

  &__box {
    padding: 0 25px 15px;
  }
  &__subtitle {
    font-size: 1.5em;
    margin: 0 0 15px;
  }

  &__image {
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
  }
}

.register {
  margin: 0 auto 0 110px;
}
}

//media max-width 890px

@media (max-width:890px) {
  
  .registration {
    height: 100vh;

    &__title {
      margin: 15px 0;
    }
  
    &__box {
      display: flex;
      padding: 15px;
      
      form {
        padding-left: 0;
        text-align: center;
        text-indent: 0px;
        flex: 0 0 100%;
        font-size: 1em;

        input {
          margin: 15px auto;
        }  
      }
    }
  
    &__image {
      display: none;
    }
  }
  
  .register {
    margin: 15px auto;
  }
}

